<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить книгу</title>
</head>


<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Добавить книгу</h3>
    <form enctype="multipart/form-data" class="needs-validation" novalidate style="max-width: 50vw" method="POST" th:action="@{/books/add}" th:object="${bookForm}">

        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                                                        <!--Название поля инпута должно строго соответствовать названию поля класса (DTO)-->
                    <input name="title" type="text" class="form-control" id="title" placeholder="Название книги" required>
                    <label for="title">Название</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="genre" id="genre" required>
                        <option selected>Выберите жанр из списка:</option>
                        <option th:each="genre : ${T(ru.sber.spring.Java13SpringTU.library_project.model.Genre).values()}"
                                th:value="${genre}" th:text="${genre.getGenreTextDisplay()}">
                        </option>
                    </select>
                    <label for="genre" class="form-label">Жанр</label>
                </div>
            </div>
        </div>

        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="pageCount" type="number" class="form-control" id="pageCount" placeholder="Количество страниц" required>
                    <label for="pageCount">Количество страниц</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="amount" type="number" class="form-control" id="amount" placeholder="Количество книг" required>
                    <label for="amount">Количество книг</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>

        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="publisher" type="text" class="form-control" id="publisher" placeholder="Издательство" required>
                    <label for="publisher">Издательство</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="localDate" type="date" class="form-control" id="date" placeholder="Дата издания" required>
                    <label for="date">Дата издания</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>

<!-- тут будет загрузка файла-->
        <div class="mt-3 form-floating">
            <input name="file" type="file" class="form-control form-control-sm" id="onlineCopyPath" placeholder="Онлайн копия файла" style="padding-top: 2rem;">
            <label for="onlineCopyPath">Онлайн копия</label>
        </div>

        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <textarea name="description" type="text" class="form-control" id="description" placeholder="Описание"></textarea>
                    <label for="description">Описание</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>

        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="storagePlace" type="text" class="form-control" id="storage" placeholder="Место хранения" required>
                    <label for="storage">Место хранения</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>


        <!--        <div class="mb-3">-->
        <!--            <label for="date" class="form-label">Дата издания</label>-->
        <!--            <input name="localDate" type="text" class="form-control" id="date">-->
        <!--        </div>-->
        <!--        <div class="mb-3">-->
        <!--            <label for="pageCount" class="form-label">Количество страниц</label>-->
        <!--            <input name="pageCount" type="number" class="form-control" id="pageCount">-->
        <!--        </div>-->
        <!--        <div class="mb-3">-->
        <!--            <label for="storage" class="form-label">Место хранения</label>-->
        <!--            <input name="storagePlace" type="text" class="form-control" id="storage">-->
        <!--        </div>-->
        <!--        <div class="mb-3">-->
        <!--            <label for="amount" class="form-label">Количество книг</label>-->
        <!--            <input name="amount" type="number" class="form-control" id="amount">-->
        <!--        </div>-->

        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary" onclick="validateForm()">Добавить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>